# Bases de Datos I
## Laboratorio 10: _Triggers_ y Procedimientos Almacenados.

### Configuraci√≥n ‚öôÔ∏è

In [1]:
import sqlalchemy
sqlalchemy.create_engine("mysql://root:Ipvce123*@localhost:3306")

%load_ext sql
%sql mysql://root:Ipvce123*@localhost:3306

### Ejercicios üèãÔ∏è‚Äç‚ôÇÔ∏è

##### A continuaci√≥n se muestra un fragmento de la base de datos de un sistema utilizado por agencias de prensa. Analice los datos que esta contiene y a partir de estos realice los ejercicios que se proponen en el _notebook_:

**Publicaci√≥n** (<u>IDPub</u> int PRIMARY KEY, Nombre varchar(30), IDPer int) 

IDPer FK Periodicidad.IDPer


**Art√≠culo** (<u>IDArt</u> int PRIMARY KEY, T√≠tulo varchar(50), IDPub int, Fecha date,
CantidadDePalabras int)

IDPub FK Publicaci√≥n.IDPub


**Periodicidad** (<u>IDPer</u> int PRIMARY KEY, Nombre char(10), CantidadDeD√≠as
smallint, Palstat int)

In [2]:
%%sql 
CREATE DATABASE IF NOT EXISTS AgenciaPrensa;
USE AgenciaPrensa;

 * mysql://root:***@localhost:3306
1 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE Periodicidad (
    IDPer INT PRIMARY KEY,
    Nombre VARCHAR(50),
    CantidadDeD√≠as INT,
    Palstat INT
);

In [ ]:
%%sql
INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (1, 'Diario', 1, 123);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (2, 'Semanal', 7, 124);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (3, 'Quincenal', 14, 125);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (4, 'Mensual', 30, 126);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (5, 'Trimestral', 90, 127);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (6, 'Semestral', 180, 128);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (7, 'Anual', 365, 129);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (8, 'Bienal', 730, 130);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (9, 'Trienal', 1095, 131);

INSERT INTO Periodicidad (IDPer, Nombre, CantidadDeD√≠as, Palstat)
VALUES (10, 'Personalizado', 45, 132);

In [ ]:
%%sql
CREATE TABLE Publicaci√≥n (
    IDPub INT PRIMARY KEY,
    Nombre VARCHAR(30),
    IDPer INT,
    CONSTRAINT FK_Periodicidad_Publicaci√≥n FOREIGN KEY (IDPer)
    REFERENCES Periodicidad(IDPer)
);

In [ ]:
%%sql
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (1, 'The New York Times', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (2, 'The Guardian', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (3, 'The Washington Post', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (4, 'The Wall Street Journal', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (5, 'The Financial Times', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (6, 'The Los Angeles Times', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (7, 'The BBC', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (8, 'The Independent', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (9, 'The Huffington Post', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (10, 'Le Monde', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (11, 'The Economist', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (12, 'The New Yorker', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (13, 'The New York Times Book Review', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (14, 'The London Review of Books', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (15, 'The Paris Review', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (16, 'The Times Literary Supplement', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (17, 'The Harvard Gazette', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (18, 'The Yale Daily News', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (19, 'The Dartmouth', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (20, 'The Stanford Daily', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (21, 'The Brown Daily Herald', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (22, 'The Columbia Spectator', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (23, 'The Cornell Daily Sun', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (24, 'The Daily Pennsylvanian', 1);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (25, 'The Daily Princeton', 2);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (26, 'The Daily Californian', 3);
INSERT INTO Publicaci√≥n (IDPub, Nombre, IDPer) VALUES (27, 'The Harvard Crimson', 3);

In [ ]:
%%sql
CREATE TABLE if not exists Art√≠culo (
  IDArt INT PRIMARY KEY,
  T√≠tulo VARCHAR(50),
  IDPub INT,
  Fecha DATE,
  CantidadDePalabras INT,
  FOREIGN KEY (IDPub) REFERENCES Publicaci√≥n(IDPub)
);

In [ ]:
%%sql
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (1, 'Introduction to SQL', 1, '2023-01-01', 1200);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (2, 'Python for Data Analysis', 2, '2023-01-15', 1500);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (3, 'Machine Learning Basics', 3, '2023-02-01', 1800);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (4, 'Web Development with JavaScript', 4, '2023-02-15', 1700);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (5, 'Understanding Blockchain Technology', 5, '2023-03-01', 2000);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (6, 'Getting Started with Docker', 6, '2023-03-15', 1300);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (7, 'Deep Learning Techniques', 7, '2023-04-01', 1900);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (8, 'Guide to Big Data Analytics', 8, '2023-04-15', 2100);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (9, 'Mastering Git and GitHub', 9, '2023-05-01', 1600);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (10, 'Responsive Web Design Principles', 10, '2023-05-15', 1400);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (41, 'Exploring GraphQL APIs', 22, '2023-09-01', 1100);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (42, 'Functional Programming in JavaScript', 23, '2023-09-15', 1500);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (43, 'Building RESTful Web Services', 24, '2023-10-01', 1800);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (44, 'Using CSS Grid Layout', 25, '2023-10-15', 1700);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (45, 'Data Visualization with D3.js', 26, '2023-11-01', 2000);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (46, 'Introduction to Kubernetes', 27, '2023-11-15', 1300);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (47, 'Reinforcement Learning Concepts', 1, '2023-12-01', 1900);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (48, 'Stream Processing with Apache Kafka', 2, '2023-12-15', 2100);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (49, 'Exploring the JAMstack', 3, '2024-01-01', 1600);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (50, 'Working with CSS Flexbox', 4, '2024-01-15', 1400);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (51, 'Exploring React Hooks', 5, '2024-02-01', 1300);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (52, 'Vue.js: A Comprehensive Guide', 6, '2024-02-15', 1600);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (53, 'Developing Mobile Apps with Flutter', 7, '2024-03-01', 1700);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (54, 'Understanding the SOLID Principles', 8, '2024-03-15', 1500);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (55, 'Microservices Architecture Patterns', 9, '2024-04-01', 1800);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (56, 'Getting Started with Golang', 10, '2024-04-15', 1400);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (57, 'Mastering Regular Expressions', 11, '2024-05-01', 1900);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (58, 'Understanding Event-Driven Architecture', 12, '2024-05-15', 2000);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (59, 'An Introduction to AWS Lambda', 13, '2024-06-01', 1200);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (60, 'A Guide to Azure Functions', 14, '2024-06-15', 1300);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (91, 'Working with PostgreSQL', 21, '2024-10-01', 1500);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (92, 'A Dive into NoSQL Databases', 22, '2024-10-15', 1700);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (93, 'Understanding CORS and Security', 23, '2024-11-01', 1400);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (94, 'A Guide to Web Accessibility', 24, '2024-11-15', 1600);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (95, 'Introduction to Ansible', 25, '2024-12-01', 1800);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (96, 'Getting Started with Terraform', 26, '2024-12-15', 1500);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (97, 'Understanding OAuth 2.0', 27, '2025-01-01', 1700);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (98, 'A Guide to API Design', 1, '2025-01-15', 1900);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (99, 'Exploring Serverless Architectures', 2, '2025-02-01', 1600);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (100, 'Mastering Web Performance', 3, '2025-02-15', 1800);

a) Se desean registrar los cambios de nombre que pudiera efectuarse sobre las distintas publicaciones existentes.

> No solo Facebook, digo Meta, tienen derecho a reinventar su marca ;) 

Para ello se propone llevar una tabla con el ID de la publicaci√≥n dada, la fecha del cambio, el nombre antiguo y el nuevo. Los datos de esta tabla deben ser insertados mediante un _trigger_ que se active al momento de modificar la tabla Publicaci√≥n. 

Provea en c√≥digo MySQL un conjunto de indicaciones para satisfacer estas demandas.

In [ ]:
%%sql
create table if not exists CambioDeNombre (
    IDPub int not null,
    fecha datetime not null,
    old varchar(30) not null,
    new varchar(30) not null,
    primary key(IDPub,fecha),
    foreign key idpub(IDPub) references Publicaci√≥n(IDPub)
);

In [ ]:
%%sql
create trigger UpdateNamePub before update
on Publicaci√≥n
for each row
insert into CambioDeNombre (IDPub,fecha,old,new) values (new.IDPub,now(),old.Nombre,new.Nombre)
;

Probando los _triggers_ existentes:

In [ ]:
%%sql
Show TRIGGERS;

Editemos una publicaci√≥n:

In [ ]:
%%sql

UPDATE Publicaci√≥n
SET Nombre = "The Last Guardian"
WHERE IDPub = 2

Chequeando que la tabla con las actualizaciones haya sido poblada adecuadamente:

In [ ]:
%%sql
Select * from CambioDeNombre;

b) Las escritos muy cortos ya no son de inter√©s para la agencia. Proponga un _trigger_ que verifique no se puedan insertar a la base de datos art√≠culos con menos de 1500 palabras.

In [ ]:
%%sql
create trigger NadaCortito before INSERT
on Art√≠culo
for each row
begin
if (new.CantidadDePalabras < 1500) then 
signal sqlstate '45000' set message_text = 'Aqui no entran corticos!';
end if;
end;

La siguiente inserci√≥n deber√≠a funcionar sin problemas:

In [ ]:
%%sql
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (88, 'Stream Processing', 2, '2023-12-15', 2100);

La siguiente deber√≠a fallar:

In [ ]:
%%sql
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (48, 'Apache', 2, '2023-12-15', 21);

c) A√±ada una columna a la tabla Publicaci√≥n que refleje la cantidad total de palabras plasmadas en art√≠culos asociados a cada Publicaci√≥n dada.

In [ ]:
%%sql
alter table Publicaci√≥n
add CantPalabrasTotal int

In [ ]:
%%sql
update Publicaci√≥n 
set CantPalabrasTotal = (
    select sum(CantidadDePalabras)
    from Art√≠culo
    where Publicaci√≥n.IDPub = Art√≠culo.IDPub
)

In [4]:
%%sql
create trigger if not exists nuevoArticulo before INSERT
on Art√≠culo
for each row
update Publicaci√≥n
set CantPalabrasTotal = CantPalabrasTotal + new.CantidadDePalabras
where Publicaci√≥n.IDPub = new.IDPub
;

 * mysql://root:***@localhost:3306
0 rows affected.

[]

Probemos:

In [ ]:
%%sql
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (50, 'MySQLR, Triggers and Store Procedures', 3, '2063-12-16', 2000);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (51, 'Python enigmasR', 3, '2026-07-07', 3000);

In [ ]:
%%sql

Select * FROM
Publicaci√≥n
WHERE Publicaci√≥n.IDPub = 3;

d) Pero ¬øqu√© sucede ahora? Si eliminamos alg√∫n art√≠culo los valores de Publicaci√≥n deben ser actualizados, sino contendr√°n datos incorrectos. A√±ada un _trigger_ para evitar estas inconsistencias.

In [12]:
%%sql
create trigger if not exists eliminarArticulo before DELETE
on Art√≠culo
for each row 
begin
update Publicaci√≥n set Publicaci√≥n.CantPalabrasTotal = Publicaci√≥n.CantPalabrasTotal - old.CantidadDePalabras where Publicaci√≥n.IDPub = old.IDPub;
end;

 * mysql://root:***@localhost:3306
0 rows affected.

[]

Validemos si los resultados son los esperados:

In [13]:
%%sql
DELETE FROM Art√≠culo 
WHERE IDArt = 11;

 * mysql://root:***@localhost:3306
(MySQLdb.OperationalError) (1054, "Unknown column 'Art√≠culo.IDPub' in 'where clause'")
[SQL: DELETE FROM Art√≠culo
WHERE IDArt = 11;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql

Select * FROM
Publicaci√≥n
WHERE Publicaci√≥n.IDPub = 2;

e) Finalmente, cree un _trigger_ que actualice la columna **Palstat** en la tabla Periodicidad cada vez que se publique un art√≠culo, de modo que **Palstat** sea el promedio de la cantidad de palabras de los art√≠culos publicados en publicaciones con la periodicidad dada por el valor de **IDPer**. Consedere eliminar los anteriores para mayor claridad.

> Tras MySQL 5.7.2 se permite al usuario crear m√∫ltiples disparadores para una tabla con el mismo evento y tiempo de acci√≥n. Estos disparadores se activar√°n secuencialmente cuando ocurra un evento. Su orden puede ser especificado, pero de no ser provisto expl√≠citamente se ejecutar√°n en el orden en que fueron definidos.

In [ ]:
%%sql
DELIMITER $$
CREATE TRIGGER UpdatePeriodicidad AFTER INSERT
ON Art√≠culo
FOR EACH ROW BEGIN
   DECLARE period INT;
   DECLARE suma INT;
   DECLARE cantidad INT;
   SET period = (
                  SELECT Publicaci√≥n.IDPer
                  FROM Publicaci√≥n
                  WHERE Publicaci√≥n.IDPub = NEW.IDPub
                  LIMIT 1
               );

   SELECT SUM(Art√≠culo.CantidadDePalabras) INTO suma, COUNT(Art√≠culo.IDArt) INTO cantidad
   FROM Art√≠culo
   WHERE Art√≠culo.IDPub IN (
       SELECT DISTINCT IDPub
       FROM Publicaci√≥n
       WHERE Publicaci√≥n.IDPer = period
   );

   UPDATE Periodicidad SET Periodicidad.Palstat = (int)(suma / cantidad) WHERE Periodicidad.IDPer = period;
END $$
DELIMITER ;

Consultando los valores antes de insertar un nuevo art√≠culo:

In [ ]:
%%sql

SELECT per.IDPer, per.Nombre, per.Palstat, AVG(CantidadDePalabras) as PromPalabras
FROM (Art√≠culo as a NATURAL JOIN Publicaci√≥n as p) INNER JOIN Periodicidad as per on p.IDPer = per.IDPer  
Group By per.IDPer

Insertando nuevos elementos a la tabla Art√≠culo:

In [ ]:
%%sql
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (13, 'C#. The ultimate guide', 1 , '2023-07-06', 1000);
INSERT INTO Art√≠culo (IDArt, T√≠tulo, IDPub, Fecha, CantidadDePalabras) VALUES (14, 'Javascript vs Java.', 1, '023-07-06', 1500);

Comprobando resultados:

In [ ]:
%%sql

SELECT per.IDPer, per.Nombre, per.Palstat, AVG(CantidadDePalabras) as PromPalabras
FROM (Art√≠culo as a NATURAL JOIN Publicaci√≥n as p) INNER JOIN Periodicidad as per on p.IDPer = per.IDPer  
Group By per.IDPer #notar que en este caso si se actualizan todos los valores de Periodicidad.Palstat

##### 2) Hasta aqu√≠ nuestra pr√°ctica con _triggers_. Intente ahora dar soluci√≥n a los siguientes requerimientos con el uso de procedimientos almacenados:

a)  Considere una base de datos definida por:

**A** (<u>IdA</u> INT PRIMARY KEY, val INT)

Cree un procedimiento almacenado llamado Mediana que imprima la mediana de los valores contenidos en la columna val de la tabla A.

In [4]:
%%sql
CREATE DATABASE IF NOT EXISTS ABC;
USE ABC;

 * mysql://root:***@localhost:3306
1 rows affected.
0 rows affected.

[]

In [6]:
%%sql
CREATE TABLE IF NOT EXISTS A (
  IdA INT PRIMARY KEY,
  Val INT
);

 * mysql://root:***@localhost:3306
0 rows affected.

[]

In [7]:
%%sql
INSERT INTO A (IdA, Val) VALUES (1, 40);
INSERT INTO A (IdA, Val) VALUES (2, 67);
INSERT INTO A (IdA, Val) VALUES (3, 45);
INSERT INTO A (IdA, Val) VALUES (4, 66);
INSERT INTO A (IdA, Val) VALUES (5, 50);
INSERT INTO A (IdA, Val) VALUES (6, 76);
INSERT INTO A (IdA, Val) VALUES (7, 43);
INSERT INTO A (IdA, Val) VALUES (8, 16);

 * mysql://root:***@localhost:3306
(MySQLdb.IntegrityError) (1062, "Duplicate entry '1' for key 'a.PRIMARY'")
[SQL: INSERT INTO A (IdA, Val) VALUES (1, 40);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
%%sql
create procedure Mediana (out result float) begin
declare n int;
set n = ( select count( * ) from A );
set result = (
    select max(A.val)
    from A
    order by A.val ASC
    limit (int)n/2
);
if ( mod(n,2) = 0 )
then (
    declare result1 int;
    set result1 = (
        select max(A.val)
        from A
        order by A.val ASC
        limit (int)n/2 + 1
    );
    set result = (result + result1) /2 ;
)
end if;
end;

In [ ]:
%sql CALL Mediana();

b) Detectar si un n√∫mero es primo.

In [ ]:
%%sql
DELIMITER //
CREATE PROCEDURE es_primo (IN n INT, OUT answer INT)
BEGIN
    DECLARE i INT;
    SET answer = 1;
    SET i = 3;

    IF n = 1 OR n % 2 = 0 THEN
        SET answer = 0;
    ELSE 
        WHILE i * i <= n DO
            IF n % i = 0 THEN
                SET answer = 0;
                LEAVE;
            END IF;
            SET i = i + 2;
        END WHILE;
    END IF;
END //
DELIMITER ;

c) Consultar los primos $\leq n$.

d) Dado un n√∫mero $n$, conocer sus divisores.

e) Decir si un numero es perfecto.

> Un n√∫mero perfecto es un n√∫mero entero positivo que es igual a la suma de sus divisores propios positivos. (6, 28, 496, 8128 ,...)